# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
.venv-1/
venv/
env/
ENV/

# Streamlit
.streamlit/secrets.toml

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# OS / logs
.DS_Store
Thumbs.db
*.log
